<script src="http://d3js.org/d3.v4.min.js"></script>
<script src="http://dimplejs.org/dist/dimple.v2.3.0.min.js"></script>

<div class="main-container">
  <div class='row'>
    <div class='col-md-12' style='height: 400px'>
      <h1 class="charts-header">Accumulated Users By Month</h1>
      <div class="charts" style='height: 100%' id="accumulated_users_by_month"></div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <div class='row'>
    <div class='col-md-12' style='height: 400px'>
      <h1 class="charts-header">Accumulated Binary Downloads Per Day</h1>
      <div class="charts" style='height: 100%' id="binary_downloads_by_date_plot"></div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <div class='row'>
    <div class='col-md-12' style='height: 400px'>
      <h1 class="charts-header">Public vs Private Binary Downloads</h1>
      <div class="charts" style='height: 100%' id="binary_downloads_public_v_private_plot"></div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <div class='row'>
    <div class='col-md-12' style='height: 400px'>
      <h1 class="charts-header">Binaries By File Type</h1>
      <div class="charts" style='height: 100%' id="binaries_by_type_plot"></div>
    </div>
  </div>
</div>
