<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="https://dimplejs.org/dist/dimple.v2.3.0.min.js"></script>

<div class="main-container">
  <div class='row'>
    <div class='col-md-12'>
      <div class="charts" id="binary_downloads_by_date_plot"></div>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-12' style='height: 500px'>
      <div class="charts" style='height: 100%' id="binary_downloads_public_v_private_plot"></div>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-12' style='height: 500px'>
      <div class="charts" style='height: 100%' id="binaries_by_type_plot"></div>
    </div>
  </div>
</div>
