<div class="main-container">
  <h1>Users by Date of Account Created</h1>
  
  <div id="users_created_at_chart">
    <h3>Users </h3> 
    <p>Red: <span id="red-count"><%= @votes[0] %></span></p>
    <p>Blue: <span id="blue-count"><%= @votes[1] %></span></p>
  </div>