<div class="main-container">
  <h1 id='analytics'>Analytics</h1>
  <div class="flex-container dashboard">
    <div class="well show-box">
      <h3>Total Users:</h3>
      <h2><%= @decorator.user_count %></h2>
    </div>
    <div class="well show-box">
      <h3>Total Folders:</h3>
      <h2><%= @decorator.folder_count %></h2>
    </div>
    <div class="well show-box">
      <h3>Total Binaries:</h3>
      <h2><%= @decorator.binary_count %></h2>
    </div>
    <div class="well show-box">
      <h3>Average Binaries Per Folder:</h3>
      <h2><%= @decorator.average_binaries_per_folder %></h2>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-12'>
      <div class="charts" id="binary_downloads_by_date_plot"></div>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-12' style='height: 500px'>
      <div class="charts" style='height: 100%' id="binary_downloads_public_v_private_plot"></div>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-12' style='height: 500px'>
      <div class="charts" style='height: 100%' id="binaries_by_type_plot"></div>
    </div>
  </div>
</div>
