<script src="http://d3js.org/d3.v4.min.js"></script>
<script src="http://dimplejs.org/dist/dimple.v2.3.0.min.js"></script>

<div class="main-container">
  <h1>Downloads per day</h1>

  <div id="binary_downloads_plot"></div>

</div>
